<div class="card" tabindex="0">
  <article aria-label="Proyecto">
    <h3>Proyecto</h3>
    <div class="texto">
      <p aria-hidden="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et accusamus quae quisquam, fuga esse, ipsum voluptatum nesciunt rerum similique suscipit culpa nostrum in expedita ipsam, vitae veniam magni harum iste?nostrum in expedita ipsam, vitae veniam magni harum istenostrum in expedita ipsam, vitae veniam magni harum iste</p>
    </div>
  </article>
  <a href="#">
    Live
  </a>
  <a href="#">
    Repo
  </a>
</div>
