<div class="project-card" tabindex="0">
  <article aria-label="<%= project[:name]%>"  style="background-image: url('<%=asset_url(project[:img]) %>');" >
    <h3 ><%= project[:name]%></h3>
    <div class="texto">
      <p aria-hidden="true"><%=project[:description]%></p>
    </div>
  </article>
  <% if project[:iframe_url].present? %>
    <a href="#">
      Live
    </a>
  <% end %>
  <a href="#">
    Repo
  </a>
</div>
