<footer class="container-fluid bg-dark p-5">
    <div class="container text-center">
        <p class="float-end">
            <a href="https://github.com/toffycaluga">
                <i class="fa-brands fa-github m-2"></i>
            </a>
            <a href="https://www.linkedin.com/in/abraham-lillo-lillo/">
                <i class="fa-brands fa-linkedin m-2"></i>
            </a>
        </p>
        <p class="mb-1">
        2023 Abraham Lillo - Toffy caluga 
        <%= image_tag 'footer/logo_white.png', class:"footer-img" %>
        </p>
    </div>
</footer>