<section id="aboutme" class="container text-center">
<h1>Portfolio</h1>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
    <div class="col">
        <h2>Abraham Lillo (Toffy Caluga)</h2>
        <%= image_tag 'home/logo_inflado.png', class:"logo-home m-5"%>
    </div>
    <div class="col text-start my-5 aboutme-content">
        <p>Mi camino profesional ha sido inusual y lleno de diversidad. Durante 15 años, llevé la alegría y la diversión como payaso circense, haciendo sonreír a miles de personas. Sin embargo, la pandemia me presentó un nuevo desafío y una oportunidad para reinventarme. Decidí adentrarme en el apasionante mundo de la programación.</p>
        <p>En la actualidad, me desempeño como freelancer y he adquirido una valiosa experiencia y conocimientos en poco tiempo. Mi transición me ha enseñado la importancia de ser creativo, ingenioso y adaptable en cualquier situación, habilidades que considero extremadamente valiosas en el mundo de la programación.</p>
        <p>Soy un aprendiz rápido y me emociona trabajar en equipo para enfrentar desafíos y superar obstáculos. Siempre busco oportunidades para mejorar mis habilidades y conocimientos, y estoy dispuesto a asumir nuevos retos que me permitan crecer profesionalmente.</p>
        <p>Mi experiencia previa en el circo me ha brindado una perspectiva única en el desarrollo de software. He aprendido a lidiar con la presión, a trabajar bajo condiciones cambiantes y a mantenerme enfocado en los objetivos. Estoy convencido de que estas habilidades, combinadas con mi pasión por la programación, me convierten en un profesional adaptable y capaz de aportar soluciones innovadoras.</p>
    </div>
  </div>
</section>