:root {
    --light: 0 0% 91%;
    --dark: 0 0% 9%;
    --main-color: 220 70% 70%;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  

  #projects {
    min-height: 100svh;
    /* width: 100%; */
    
   /* border: 1px solid #990000; */
  }
  
  #projects {
    display: grid;
    place-content: center;
    /* margin: 0; */
    color: hsl(var(--light));
    background-color: hsl(var(--dark)/.3);
    font-size: 1rem;
    font-weight: 400;
    font-family: monospace;
  }