:root {
  --light: 0 0% 91%;
  --dark: 0 0% 9%;
  --main-color: 220 70% 70%;
}

.project-container {
  box-sizing: border-box;
  min-height: 70svh;
}

.projects-container {
  display: grid;
  place-content: center;
  /* margin: 0; */
  color: hsl(var(--light));
  /* background-color: hsl(var(--dark)); */
  font-size: 1rem;
  font-weight: 400;
  font-family: monospace;
}
#projects h2{
  padding: 3rem;
}